@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/GOTHIC.TTF") format("truetype");
  font-weight: 300 500;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/GOTHICB.TTF") format("truetype");
  font-weight: 700 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueThin.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-main: #fff;
}

body {
  overscroll-behavior: none;
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  font-family: "Century Gothic";
  line-height: normal;
  background-color: #000;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  outline: none;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  font-size: inherit;
  cursor: pointer;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.containers {
  padding-inline: 110px;
}

@media (max-width: 1024px) {
  .containers {
    padding-inline: 60px;
  }
}

@media (max-width: 768px) {
  .containers {
    padding-inline: 20px;
  }
}
.main-heading {
  @apply text-xl sm:text-2xl md:text-4xl lg:text-5xl text-main leading-normal;
}
.main-heading2 {
  @apply text-lg sm:text-2xl  xl:text-[40px] text-center md:text-left  leading-normal;
}

.main-heading3 {
  @apply text-3xl leading-[150%]  text-main;
}
.seperator {
  @apply w-14 h-[2px]  block bg-main;
}
.seperatorDark {
  @apply w-14 h-[2px]  block bg-altermain;
}
.seperator2Dark {
  @apply w-12 h-[2px]  block bg-altermain;
}
.seperator2 {
  @apply w-12 h-[2px]  block bg-main;
}
.description {
  @apply text-sm sm:text-base text-justify font-helvatica font-light leading-[186%];
}
.input {
  @apply outline-none bg-transparent border border-main placeholder:text-[#9D9D9D]  text-sm md:text-base  leading-[154%] font-medium placeholder:font-medium text-main py-5 md:py-6 px-5 md:px-7 w-full;
}

.description {
  @apply text-sm md:text-base text-justify font-helvatica font-light leading-[186%];
}

.description p:first-child {
  @apply mb-5;
}

.list ul li {
  background-image: url("/common/listTYpeWhite.svg");
  background-repeat: no-repeat;
  background-position: left 7px;
  background-size: 19px;
  padding-left: 32px;
  margin-bottom: 12px;
  margin-right: 3px;
}
.list ul li h4 {
  @apply font-semibold leading-[186%] font-helvatica mb-2;
}

.description p:last-of-type {
  @apply text-sm md:text-base text-justify font-helvatica font-light leading-[186%];
}

.serviceKey ul li {
  @apply text-sm md:text-base font-helvatica font-normal md:font-medium leading-[186%] -ml-9 md:-ml-0 mb-6 text-center md:text-left;
  background-image: url("/common/list.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 21px;
  padding-left: 33px;
}
@media (max-width: 768px) {
  .serviceKey h4 {
    background-image: none;
  }
}

.serviceKey p {
  @apply description  !text-center md:!text-justify mb-2;
}

.list2 ul li {
  background-image: url("/common/listTYpeWhite.svg");
  background-repeat: no-repeat;
  background-position: left 4px;
  background-size: 21px;
  padding-left: 37px;
  margin-bottom: 12px;
}

.list2 h4 {
  @apply text-sm  md:text-base font-helvatica font-medium leading-[186%] mb-3 sm:mb-4;
}

.list2 p {
  @apply description mb-4;
}

.list2 p b {
  @apply font-semibold text-lg;
}

.why h4 {
  @apply text-base font-helvatica font-medium leading-[186%] mb-2 text-center md:text-left;
  background-image: url("/common/listTYpeWhite.svg");
  background-repeat: no-repeat;
  background-position: left 5px;
  background-size: 21px;
  padding-left: 33px;
}

.why p,
.why p:nth-child(2) {
  @apply text-sm  md:text-base !text-center md:!text-justify font-helvatica font-light leading-[186%] mb-2;
}

.why:has(h4) {
  display: block;
}

@media (max-width: 768px) {
  .serviceKey h4,
  .why h4 {
    background-image: none;
  }
  .about-her {
    bottom: 40px;
  }
}

.about p {
  @apply text-sm md:text-base md:!text-justify font-helvatica font-light leading-[186%] !text-center;
}
.home p {
  @apply text-sm md:text-base md:!text-justify font-helvatica font-light leading-[186%] !text-center;
}

@media (min-width: 900px) {
  .whychoose {
    padding-top: 70%;
  }
}

.home2 p {
  @apply text-sm md:text-base text-center md:text-justify font-helvatica font-light leading-[186%];
}

.serviceIn1 p {
  @apply text-sm md:text-base text-center md:text-justify font-helvatica font-light leading-[186%];
}
.homeHero {
  background: linear-gradient(
    178deg,
    #001221 -15.39%,
    rgba(0, 18, 30, 0) 98.61%
  );
}

@media (max-width: 450px) {
  .phone {
    flex-direction: column !important;
  }
  .sep {
    display: none;
  }
}

@media (min-width: 1300px) {
  .homeSection3 {
    height: 150dvh;
  }
}

@media (min-width: 1500px) {
  .homeSection3 {
    height: 190dvh !important;
  }
}

@media (min-width: 991px) and (max-width: 1299px) {
  .homeSection3 {
    height: 130dvh !important;
  }
}

@media (max-width: 990px) {
  .homeSection3 {
    height: 100dvh !important;
  }
}

@media (min-width: 1400px) {
  .serviceinnerhead {
    justify-content: space-between;
    row-gap: 40px;
  }
}
