@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/GOTHIC.TTF") format("truetype");
  font-weight: 300 500;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/GOTHICB.TTF") format("truetype");
  font-weight: 700 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueThin.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-main: #fff;
}

body {
  overscroll-behavior: none;
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  font-family: "Century Gothic";
  line-height: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  outline: none;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  font-size: inherit;
  cursor: pointer;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.containers {
  padding-inline: 133px;
}

@media (max-width: 1024px) {
  .containers {
    padding-inline: 80px;
  }
}
.main-heading {
  @apply text-4xl lg:text-5xl text-main leading-normal;
}
.main-heading2 {
  @apply text-3xl lg:text-[40px]  leading-normal;
}

.main-heading3 {
  @apply text-3xl leading-[150%]  text-main;
}
.seperator {
  @apply w-14 h-[2px]  block bg-main;
}
.seperatorDark {
  @apply w-14 h-[2px]  block bg-altermain;
}
.seperator2Dark {
  @apply w-12 h-[2px]  block bg-altermain;
}
.seperator2 {
  @apply w-12 h-[2px]  block bg-main;
}
.description {
  @apply text-base text-justify font-helvatica font-light leading-[186%];
}
.input {
  @apply outline-none bg-transparent border border-main placeholder:text-main leading-[154%] font-medium placeholder:font-medium text-main  py-6 px-7 w-full;
}

.description {
  @apply text-base text-justify font-helvatica font-light leading-[186%];
}

.description p:first-child {
  @apply max-w-[432px] mb-5;
}

.list ul li {
  background-image: url("/common/list.svg");
  background-repeat: no-repeat;
  background-position: left 10px;
  background-size: 19px;
  padding-left: 32px;
  margin-bottom: 12px;
  margin-right: 3px;
}
.list ul li h4 {
  @apply font-semibold leading-[186%] font-helvatica mb-2;
}

.description p:last-of-type {
  @apply text-base text-justify font-helvatica font-light leading-[186%];
}

.serviceKey h4 {
  @apply text-base font-helvatica font-medium leading-[186%] mb-6;
  background-image: url("/common/list.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 21px;
  padding-left: 33px;
}

.serviceKey p {
  @apply description max-w-[413px] mb-2;
}

.list2 ul li {
  background-image: url("/common/listTYpeWhite.svg");
  background-repeat: no-repeat;
  background-position: left 10px;
  background-size: 21px;
  padding-left: 37px;
  margin-bottom: 12px;
}

.list2 h4 {
  @apply text-base font-helvatica font-medium leading-[186%];
}

.list2 p {
  @apply description;
}

.why h4 {
  @apply text-base font-helvatica font-medium leading-[186%] mb-2;
  background-image: url("/common/listTYpeWhite.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 21px;
  padding-left: 33px;
}

.why p {
  @apply text-base text-justify font-helvatica font-light leading-[186%] mb-2;
}

.why:has(h4) {
  display: block;
}
